select(
  ng-model="vm.selectedPlayers"
  ng-options="item as item.fullName for item in vm.players"
  chosen
  multiple
  width="'100%'"
  data-placeholder="Choose players")

  option(value="")

div(ng-repeat="player in vm.players")
  a(ng-click="vm.addPlayer(player)") {{player.fullName}}
