.l-createPlayer
  .col-sm-10.col-sm-offset-1
    h1 {{vm.title}}
    .container-fluid
      .row(equal-height)
        .col-sm-6
          .wrapSmall.js-equal-height
            .row
              .col-sm-6
                .row
                  form
                    .col-sm-12
                      .row
                        .col-sm-12
                          label
                            .teamName Player Name
                      .row
                        .col-sm-12
                          input(type="text" placeholder="First Name" ng-model="vm.player.firstName")
                          div.error(ng-messages='vm.$validation.player.firstName.errors')
                            div.small(ng-message='presence')
                              |  Player's first name required
                          input(type="text"  placeholder="Last Name" ng-model="vm.player.lastName")
                          div.error(ng-messages='vm.$validation.player.lastName.errors')
                            div.small(ng-message='presence')
                              |  Player's last name required
                      .row
                        .col-sm-12
                          label
                            .teamManager Assign a Number
                      .row
                        .col-sm-12
                          input(type="text"  placeholder="Enter a Number" ng-model="vm.player.number")
                          div.error(ng-messages='vm.$validation.player.number.errors')
                            div.small(ng-message='presence')
                              |  Player's number is required
                            div.small(ng-message='numericality')
                              |  Must be a number greater than 0
                      .row
                        .col-sm-12
                          label
                           .teamManager Players Date of Birth
                        .col-sm-12
                          a(href="")
                            span(class="glyphicon glyphicon-calendar")
                          input(type="text" placeholder="MM/DD/YYYY" to-moment ng-model="vm.player.dob" data-date-format="MM/dd/yyyy" data-container="body" bs-datepicker)
                          div.error(ng-messages='vm.$validation.player.birthdate.errors')
                            div.small(ng-message='presence')
                              |  Player's birthdate is required
                            div.small(ng-message='invalid')
                              | Invalid date.  Must be "MM/DD/YYYY"
              .col-sm-6
                img(src="./images/player.svg")
        .col-sm-6
          .wrapSmall.js-equal-height
            //- .row
            //-   .col-sm-12
            //-     h2 Player Preview
            .row
              .col-sm-3
                img(src="../images/player.svg")
              .col-sm-9
                .row
                  .col-sm-9
                    h2.teamName {{vm.player.fullName}}
                  .col-sm-3
                    span.playerNum &#x23{{vm.player.number}}
                //- .row
                //-   .col-sm-6 Team
                //-   .col-sm-6 {{vm.player.team.name}}
                .row
                  .col-sm-6 Age
                  .col-sm-6 {{vm.player.age}}
            //- .row
            //-   .col-sm-12
            //-     table.table.table-bordered.table-striped
            //-       tbody
            //-         tr
            //-           td Player's Name
            //-           td {{vm.player.fullName}}
            //-         tr
            //-           td Player's Number
            //-           td &#x23{{vm.player.number}}
            //-         tr
            //-           td DOB
            //-           td {{vm.player.birthdate}}
            //-         tr
            //-           td Player's Age
            //-           td {{vm.player.age}}
      .row
        .col-sm-12
          button.pull-right.btn.btn-success(ng-click="vm.save()") {{vm.buttonText}}
