include playerDisplay.pug

.l-players
  .row
    .col-sm-6
      h1 Players
    .col-sm-6
      button.pull-right.btn.btn-success.top(ng-click="vm.create()") Create a Player
  div(equal-height)
      .row(equal-height)
        .col-sm-4(ng-repeat="player in vm.players | orderBy:'lastName'" ng-click="vm.goToPlayer(player)")
          .wrapSmall.active.js-equal-height
            +playerDisplay("player")
