.l-players
  .container-fluid
    .row
      .col-sm-12
        .pageHeader
          h1 Players

  .container-fluid
    .row
      .col-sm-4
        .wrapSmall
          .row
            .col-sm-5
              img(src="../images/player.svg")
            .col-sm-7
              p.playerNum #33
              h2.teamName Sabastian Shaw
              .row
                .col-sm-3
                  p Age <br> <span> 23</span>
                .col-sm-9
                  p Team <br> <span> Villians</span>
      .col-sm-4
        .wrapSmall
          .row
            .col-sm-5
              img(src="../images/player.svg")
            .col-sm-7
              p.playerNum #33
              h2.teamName Sabastian Shaw
              .row
                .col-sm-3
                  p Age <br> <span> 23</span>
                .col-sm-9
                  p Team <br> <span> Villians</span>
      .col-sm-4
        .wrapSmall
          .row
            .col-sm-5
              img(src="../images/player.svg")
            .col-sm-7
              p.playerNum #33
              h2.teamName Sabastian Shaw
              .row
                .col-sm-3
                  p Age <br> <span> 23</span>
                .col-sm-9
                  p Team <br> <span> Villians</span>
      .col-sm-4
        .wrapSmall
          .row
            .col-sm-5
              img(src="../images/player.svg")
            .col-sm-7
              p.playerNum #33
              h2.teamName Sabastian Shaw
              .row
                .col-sm-3
                  p Age <br> <span> 23</span>
                .col-sm-9
                  p Team <br> <span> Villians</span>
    .row
      .col-sm-12
        button.pull-right(class="btn btn-success", ng-click="vm.create()") Create a Player
