.l-Player
  .container-fluid
    .col-sm-10.col-sm-offset-1
      h1 View Player
      .row.row-eq-height
        .col-sm-12.col-md-4
          .wrapSmall
            img(src="../images/player.svg")
        .col-sm-12.col-md-8
          .wrapSmall
            .row
              .col-sm-12
                h3.sectionTitle Player Name
                p.playerName  {{vm.player.fullName}}
                h3.sectionTitle Player Number
                p.playerNumber &#x23{{vm.player.number}}
                h3.SectionTitle Players Date of Birth
                p.playerBirth {{vm.player.birthdate.format("L")}}
      .col-sm-12
        button.pull-right.btn.btn-success(ng-click="vm.edit()") Edit Player
