.l-Player
  .container-fluid
    .col-sm-10.col-sm-offset-1
      h1 View Player
      .row.row-eq-height
        .col-sm-12.col-md-4
          .wrapSmall
            img(src="../images/player.svg")
        .col-sm-12.col-md-8
          .wrapSmall
            .row
              .col-sm-12
                h3.sectionTitle Player Name
                p.playerName  Sabastian Shaw
                h3.sectionTitle Player Number
                p.playerNumber #33
                h3.SectionTitle Players Date of Birth
                p.playerBirth March 9, 1999
      .col-sm-12
        button.pull-right(class="btn btn-success") Edit Player
