.l-players
  .col-sm-10.col-sm-offset-1
    .container-fluid
      .row
        .col-sm-12
          .pageHeader
            h1 Players
  .col-sm-10.col-sm-offset-1(equal-height)
    .container-fluid
      .row
        .col-sm-4(ng-repeat="player in vm.players | orderBy:'lastName'" ng-click="vm.goToPlayer(player)")
          .wrapSmall.active.js-equal-height
            .row
              .col-sm-5
                img(src="../images/player.svg")
              .col-sm-7
                p.playerNum &#x23{{player.number}}
                h2.teamName {{player.fullName}}
                .row
                  .col-sm-3
                    p Age <br> <span>{{player.age}}</span>
                  .col-sm-9
                    p Team <br> <span>{{player.team.name}}</span>
    .row
      .col-sm-12
        button.pull-right.btn.btn-success(ng-click="vm.create()") Create a Player
