include playerDisplay.pug

.l-Player
  .row
    .col-sm-12
      h1 View Player
  .row(equal-height)
    .col-sm-6
      .wrapSmall.js-equal-height
        +playerDisplay("ctrl.player")

  .row
    .col-sm-6
      button.pull-right.btn.btn-success(ng-click="ctrl.edit()") Edit Player
