.nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller="HeaderController as vm")
  .container-fluid
    .navbar-header
      a.navbar-brand(ng-click="vm.goToTeams()") Major League Miruken

    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(ng-click="vm.goToTeams()")   Teams
        li
          a(ng-click="vm.goToPlayers()") Players

