.nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller="HeaderController as vm")
  .container-fluid
    .navbar-header
      a.navbar-brand(ui-sref="default({controller: 'Teams', action: 'showTeams'})") Major League Miruken

    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-class="{ active: $state.includes('teams') }")
          a(ui-sref="default({controller: 'Teams', action: 'showTeams'})")     Teams
        li(ng-class="{ active: $state.includes('players') }")
          a(ui-sref="default({controller: 'Players', action: 'showPlayers'})") Players

