// teams Page
.l-teams{
  h1{
    color: white;
  }

  h2.teamName{
    text-transform: uppercase;
  }

  .coachTitle{

  }

}


// single team Page
.l-team{
  margin-top: 40px;



}




// creating a new team Page
.l-createTeam{


}

// edit existing team Page
.l-editTeam{


}


// edit existing team Page
.l-players{


}

// edit existing team Page
.l-player{


}

// edit existing team Page
.l-createPlayer{


}

// edit existing team Page
.l-editPlayer{


}
