.jersey.red{
  .st0{
    fill: red;
  }
}

  .sectionTitle{
    font-size: .85em;
  }

table{
  background-color: white;
  padding: 5px;
  margin-bottom: 20px;
  thead{
    background-color: grey
  }
  td,th{
    padding: 15px;
  }
  tbody tr:nth-child(even) {
    background: #eee;
  }
}

