html
head
    title Major League Miruken

    link(rel="stylesheet", type="text/css", href="styles/style.css")
    link(rel="stylesheet", type="text/css", href="styles/bootstrap-additions/bootstrap-additions.css")
    link(rel="stylesheet", type="text/css", href="styles/bootstrap-additions/modules/tooltip.css")
    link(rel="stylesheet", type="text/css", href="styles/bootstrap-additions/modules/datepicker.css")

body
    div(ng-include="'app/header/header.html'")
    .error-banner(ng-include="'app/error/error.html'")
    div.container-fluid.col-sm-10.col-sm-offset-1(ui-view="")

    script(src="../node_modules/babel-polyfill/dist/polyfill.js")
    script(src="jspm_packages/system.js")
    script(src="app/infrastructure/systemTap.js")
    script(src="app/infrastructure/systemYuml.js")

    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="../bower_components/angular/angular.js")
    script(src="../bower_components/angular-ui-router/release/angular-ui-router.js")
    script(src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js")
    script(src="../bower_components/miruken-angular/miruken-ng-bundle.js")
    script(src="../bower_components/moment/moment.js")
    script(src="../bower_components/angular-messages/angular-messages.js")
    script(src="../bower_components/chosen/chosen.jquery.js")
    script(src="../bower_components/angular-chosen-localytics/dist/angular-chosen.js")
    script(src="../bower_components/matchHeight/dist/jquery.matchHeight.js")
    script(src="../bower_components/angular-strap/dist/angular-strap.js")
    script(src="../bower_components/angular-strap/dist/angular-strap.tpl.js")

    script(src="app/mlm.js")

    script.
        System.import("app/setup.js");
