html(ng-app="mlm")
head
    title Major League Miruken

    <link rel="stylesheet" type="text/css" href="styles/style.css">

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Major League Miruken</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/">Team</a></li>
                <li><a href="#player">Player</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="container-fluid" ui-view>
    .row
</div>

<script src="../node_modules/babel-polyfill/dist/polyfill.js"></script>
<!-- bower:js -->
<!-- endbower -->

<!-- inject:js -->
<!-- endinject -->

</body>
</html>
