html(ng-app="mlm")
head
    title Major League Miruken

    link(rel="stylesheet", type="text/css", href="styles/style.css")

body
    nav(class="navbar navbar-inverse navbar-fixed-top")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand", href="#/") Major League Miruken

            div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav")
                    li
                        a(href="#/") Team
                    li
                        a(href="#player") Player

    .container-fluid
        .row
            .col-sm-10.col-sm-offset-1
                .wrap
                    p testing
    div(class="container-fluid", ui-view="")


    script(src="../node_modules/babel-polyfill/dist/polyfill.js")

    <!-- bower:js -->
    <!-- endbower -->

    <!-- inject:js -->
    <!-- endinject -->
