html(ng-app="mlm")
head
    title Major League Miruken
    
    link(rel="stylesheet", type="text/css", href="styles/style.css")
    link(rel="stylesheet", type="text/css", href="styles/bootstrap-additions/bootstrap-additions.css")
    link(rel="stylesheet", type="text/css", href="styles/bootstrap-additions/modules/tooltip.css")
    link(rel="stylesheet", type="text/css", href="styles/bootstrap-additions/modules/datepicker.css")

body
    div(ng-include="'app/header/header.html'")

    div(class="container-fluid", ui-view="")

    script(src="../node_modules/babel-polyfill/dist/polyfill.js")

    <!-- bower:js -->
    <!-- endbower -->

    <!-- inject:js -->
    <!-- endinject -->
