html
head
    title Major League Miruken

    link(rel="stylesheet", type="text/css", href="styles/style.css")
    link(rel="stylesheet", type="text/css", href="styles/bootstrap-additions/bootstrap-additions.css")
    link(rel="stylesheet", type="text/css", href="styles/bootstrap-additions/modules/tooltip.css")
    link(rel="stylesheet", type="text/css", href="styles/bootstrap-additions/modules/datepicker.css")

body
    div(ng-include="'app/header/header.html'")
    .error-banner(ng-include="'app/error/error.html'")
    div.container-fluid.col-sm-10.col-sm-offset-1(ui-view="")

    script(src="../node_modules/babel-polyfill/dist/polyfill.js")
    script(src="jspm_packages/system.js")
    script(src="app/infrastructure/systemTap.js")
    script(src="app/infrastructure/systemYuml.js")

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="../bower_components/miruken-angular/miruken-ng-bundle.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <script src="../bower_components/angular-messages/angular-messages.js"></script>
    <script src="../bower_components/chosen/chosen.jquery.js"></script>
    <script src="../bower_components/angular-chosen-localytics/dist/angular-chosen.js"></script>
    <script src="../bower_components/matchHeight/dist/jquery.matchHeight.js"></script>
    <script src="../bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="../bower_components/angular-strap/dist/angular-strap.tpl.js"></script>

    <script src="app/setup.js"></script>
    <script src="app/domain/color.js"></script>
    <script src="app/domain/person.js"></script>
    <script src="app/domain/player.js"></script>
    <script src="app/domain/team.js"></script>
    <script src="app/team/teamFeature.js"></script>
    <script src="app/player/playerFeature.js"></script>
    <script src="app/team/teamsController.js"></script>
    <script src="app/team/teamController.js"></script>
    <script src="app/team/createTeamController.js"></script>
    <script src="app/team/editTeamController.js"></script>
    <script src="app/team/teamHandler.js"></script>
    <script src="app/player/playersController.js"></script>
    <script src="app/player/playerController.js"></script>
    <script src="app/player/createPlayerController.js"></script>
    <script src="app/player/editPlayerController.js"></script>
    <script src="app/player/choosePlayerController.js"></script>
    <script src="app/player/playerHandler.js"></script>
    <script src="app/player/setup.js"></script>
    <script src="app/env/mock/handlerMocks.js"></script>
    <script src="app/env/mock/setup.js"></script>
    <script src="app/foo.js"></script>
    <script src="app/message.js"></script>
    <script src="app/error/errorController.js"></script>
    <script src="app/header/headerController.js"></script>
    <script src="app/infrastructure/equalHeight.js"></script>
    <script src="app/infrastructure/systemTap.js"></script>
    <script src="app/infrastructure/systemYuml.js"></script>
    <script src="app/team/setup.js"></script>

    script.
        //System.import("app/foo.js");
