.l-createTeam
  .container-fluid
    .col-sm-10.col-sm-offset-1
      h1 {{vm.title}}
    .col-sm-10.col-sm-offset-1
      .col-sm-6
        .wrapSmall
          .row
            .col-sm-12
              form
                .inputWrap
                  .col-sm-12
                    label
                      .teamName Team Name
                    input(type="text" ng-model="vm.team.name" placeholder="Team Name")
                    div.error(ng-messages='vm.team.$validation.name.errors')
                      div.small(ng-message='presence')
                        | Team name must be 6 characters
                .inputWrap
                  .col-sm-12
                    label
                      .teamManager Assign a Manager
                  .col-sm-12.col-md-6
                    input(type="text" ng-model="vm.team.manager.firstName" placeholder="First Name")
                    div.error(ng-messages='vm.team.$validation.errors.firstName')
                      div.small(ng-message='required')
                        |  First name required
                  .col-sm-12.col-md-6
                    input(type="text" ng-model="vm.team.manager.lastName" placeholder="Last Name")
                    div.error(ng-messages='vm.team.$validation.errors.lastName')
                      div.small(ng-message='required')
                        | Last name required
                .inputWrap
                  .col-sm-12
                    label
                     .teamManager Assign a Coach
                  .col-sm-12.col-md-6
                    input(type="text" ng-model="vm.team.coach.firstName" placeholder="First Name")
                    div.error(ng-messages='vm.team.$validation.errors.coach')
                      div.small(ng-message='required')
                        |  First name required
                  .col-sm-12.col-md-6
                    input(type="text" ng-model="vm.team.coach.lastName" placeholder="Last Name")
                    div.error(ng-messages='vm.team.$validation.errors')
                      div.small(ng-message='required')
                        |  First name require
      .col-sm-6
        .wrapSmall
          .row
            .col-sm-12
              .sectionTitle Roster
          .row
            .col-sm-12
              table
                thead
                  tr
                    th Player
                    th Number
                    th Birth Date
                tbody
                  tr
                    td
                      strong Purdie Dorsey
                    td 15
                    td May 8, 1984
              button.pull-right(class="btn btn-default btn-xs") + add player
      .row
        .col-sm-12
          button.pull-right(class="btn btn-success" ng-click="vm.save()") {{vm.buttonText}}
