include ../../jersey.pug

.l-createTeam
  .row
    .col-sm-12
      h1 {{ctrl.title}}
  .row(equal-height)
    .col-sm-6
      .wrapSmall.js-equal-height
        .row
          .col-sm-4
            +jersey('{{ctrl.team.color.value}}')
        .row
          .col-sm-12
            form
              .inputWrap
                .col-sm-12
                  label
                    .teamName Team Name
                  input(type="text" ng-model="ctrl.team.name" placeholder="Team Name")
                  div.error(ng-messages='ctrl.$validation.team.name.errors')
                    div.small(ng-message='presence')
                      | Team name is required
              .inputWrap
                .col-sm-12
                  label
                    .teamManager Assign a Manager
                .col-sm-12.col-md-6
                  input(type="text" ng-model="ctrl.team.manager.firstName" placeholder="First Name")
                  div.error(ng-messages='ctrl.$validation.team.manager.firstName.errors')
                    div.small(ng-message='presence')
                      |  Manager's first name required
                .col-sm-12.col-md-6
                  input(type="text" ng-model="ctrl.team.manager.lastName" placeholder="Last Name")
                  div.error(ng-messages='ctrl.$validation.team.manager.lastName.errors')
                    div.small(ng-message='presence')
                      | Manager's last name required
              .inputWrap
                .col-sm-12
                  label
                   .teamManager Assign a Coach
                .col-sm-12.col-md-6
                  input(type="text" ng-model="ctrl.team.coach.firstName" placeholder="First Name")
                  div.error(ng-messages='ctrl.$validation.team.coach.firstName.errors')
                    div.small(ng-message='presence')
                      |  Coach's first name required
                .col-sm-12.col-md-6
                  input(type="text" ng-model="ctrl.team.coach.lastName" placeholder="Last Name")
                  div.error(ng-messages='ctrl.$validation.team.coach.lastName.errors')
                    div.small(ng-message='presence')
                      |  Coach's last name required
              .inputWrap
                .col-sm-12
                  label
                    .teamManager Select a team color
                .col-sm-12
                  .teamColor
                    a.btn.btn-default.btn-lg(
                      ng-repeat="color in mlm.Color.items"
                      ng-click="ctrl.selectColor(color)"
                      ng-class="ctrl.getColorButtonStyle(color)")
    .col-sm-6
      .wrapSmall.js-equal-height
        .row
          .col-sm-12
            .sectionTitle Roster
        .row
          .col-sm-12
            table.table
              thead
                tr
                  th Player
                  th Number
                  th Birth Date
              tbody
                tr(ng-repeat="player in ctrl.team.roster | orderBy:'number'")
                  td
                    strong {{player.fullName}}
                  td {{player.number}}
                  td {{player.birthdate}}
            button.pull-right(class="btn btn-default btn-xs" ng-click="ctrl.addPlayer()") + add player
  .row
    .col-sm-12
      button.pull-right(class="btn btn-success" ng-click="ctrl.saveTeam()") {{ctrl.buttonText}}
