.l-createTeam
  .container-fluid
    .col-sm-10.col-sm-offset-1
      h1 {{vm.title}}
    .col-sm-10.col-sm-offset-1
      .col-sm-6
        .wrapSmall
          .row
            .col-sm-12
              form
                .inputWrap
                  .col-sm-12
                    label
                      .teamName Team Name
                    input(type="text" ng-model="vm.team.name" placeholder="Team Name")
                    div.error(ng-messages='vm.$validation.team.name.errors')
                      div.small(ng-message='presence')
                        | Team name is required
                .inputWrap
                  .col-sm-12
                    label
                      .teamManager Assign a Manager
                  .col-sm-12.col-md-6
                    input(type="text" ng-model="vm.team.manager.firstName" placeholder="First Name")
                    div.error(ng-messages='vm.$validation.team.manager.firstName.errors')
                      div.small(ng-message='presence')
                        |  Manager's first name required
                  .col-sm-12.col-md-6
                    input(type="text" ng-model="vm.team.manager.lastName" placeholder="Last Name")
                    div.error(ng-messages='vm.$validation.team.manager.lastName.errors')
                      div.small(ng-message='presence')
                        | Manager's last name required
                .inputWrap
                  .col-sm-12
                    label
                     .teamManager Assign a Coach
                  .col-sm-12.col-md-6
                    input(type="text" ng-model="vm.team.coach.firstName" placeholder="First Name")
                    div.error(ng-messages='vm.$validation.team.coach.firstName.errors')
                      div.small(ng-message='presence')
                        |  Coach's first name required
                  .col-sm-12.col-md-6
                    input(type="text" ng-model="vm.team.coach.lastName" placeholder="Last Name")
                    div.error(ng-messages='vm.$validation.team.coach.lastName.errors')
                      div.small(ng-message='presence')
                        |  Coach's last name required
      .col-sm-6
        .wrapSmall
          .row
            .col-sm-12
              .inputWrap
                .col-sm-12
                  label
                    .teamManager Select a team color
                .col-sm-12
                  .teamColor
                    a.btn.btn-default.btn-lg(
                      ng-repeat="color in vm.color.items"
                      ng-click="vm.selectColor(color)"
                      ng-class="color.value")
          .row
            .col-sm-12
              .sectionTitle Roster
          .row
            .col-sm-12
              table
                thead
                  tr
                    th Player
                    th Number
                    th Birth Date
                tbody
                  tr(ng-repeat="player in vm.team.roster | orderBy:'number'")
                    td
                      strong {{player.fullName}}
                    td {{player.number}}
                    td {{player.birthdate.format("L")}}
              button.pull-right(class="btn btn-default btn-xs" ng-click="vm.addPlayer()") + add player
      .row
        .col-sm-12
          button.pull-right(class="btn btn-success" ng-click="vm.save()") {{vm.buttonText}}

//- // Modal
//- #addPlayer.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
//-   .modal-dialog(role='document')
//-     .modal-content
//-       .modal-header
//-         button.close(type='button', data-dismiss='modal', aria-label='Close')
//-           span(aria-hidden='true') ×
//-         h4#myModalLabel.modal-title Select players to add
//-       .modal-body
//-         input(type='CHECKBOX', name='mushrooms')
//-         |  Player One
//-         br
//-         input(type='CHECKBOX', name='greenpeppers')
//-         |  Player Two
//-         br
//-         input(type='CHECKBOX', name='onions')
//-         |  Player Three
//-         br
//-         input(type='CHECKBOX', name='tomatoes')
//-         |  Player Four
//-         br
//-         input(type='CHECKBOX', name='olives')
//-         |  Player Five

//-       .modal-footer
//-         button.btn.btn-default(type='button', data-dismiss='modal') Close
//-         button.btn.btn-primary(type='button') Save changes

