.l-team
  .container-fluid

    .row
      .col-sm-10.col-sm-offset-1
        .wrap
          .row
            .col-sm-12
              h1 View Team
          .row
            .col-sm-12
              .col-sm-5
                .row
                  .col-sm-12
                    h3.sectionTitle Team Name
                    p.teamName Accountants
                .row
                  .col-sm-12
                    h3.sectionTitle Team Manager
                    p.teamManager Mi C. Quill
                .row
                  .col-sm-12
                    h3.sectionTitle Team Manager
                    p.teamCoach John Doe
              .col-sm-7
                h3.sectionTitle roster
                table
                  thead
                    tr
                      th Player
                      th Number
                      th Birth Date
                  tbody
                    tr
                      td
                        strong Purdie Dorsey
                      td 15
                      td May 8, 1984
                    tr
                      td
                        strong Harmon Yoxall
                      td 33
                      td November 26, 1985
                    tr
                      td
                        strong Ken Trengove
                      td 50
                      td August 15, 1979
                    tr
                      td
                        strong Jordan Key
                      td 12
                      td May 31, 1998
                    tr
                      td
                        strong Malik Hart
                      td 34
                      td November 14, 1995
                    tr
                      td
                        strong Fulbert Stainthorpe
                      td 43
                      td March 18, 1990
                    tr
                      td
                        strong Duncan Studwick
                      td 88
                      td October 30, 1987, 1988
                    tr
                      td
                        strong Sid Reyer
                      td  9
                      td January 19, 1987
                    tr
                      td
                        strong Wheathauler Caulfield
                      td 3

                      td December 2, 1993
