.l-team
  .container-fluid

    .row
      .col-sm-10.col-sm-offset-1
        .wrap
          .row
            .col-sm-12
              h1 Team Name 1
          .row
            .col-sm-12
              p testing team
