.l-team
  .container-fluid

    .row
      .col-sm-10.col-sm-offset-1
        .wrap
          .row
            .col-sm-12
              h1 Team Name 1
          .row
            .col-sm-12
              .col-sm-7
                h3 team name
              .col-sm-5
                h3 roster
