include teamDisplay.pug

.l-team
    .row
      .col-sm-12
        h1 View Team
    .row(equal-height)
      .col-sm-6
        .wrapSmall.js-equal-height
          +teamDisplay('vm.team')
      .col-sm-6
        .wrapSmall.js-equal-height
          .row
            .col-sm-12
              h3.sectionTitle Roster
              table.table
                thead
                  tr
                    th Player
                    th Number
                    th Birth Date
                    th Age
                tbody
                  tr(ng-repeat="player in vm.team.roster | orderBy:'number'")
                    td
                      strong {{player.fullName}}
                    td {{player.number}}
                    td {{player.birthdate}}
                    td {{player.age}}
    .row
      .col-sm-12
        button.pull-right(class="btn" ng-click="vm.edit()") Edit Team
